<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
>

<title>Centinela digital</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/login.css') }}"
>

<link
    rel="preconnect"
    href="https://fonts.googleapis.com"
>

<link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
>

<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap"
    rel="stylesheet"
>
</head>

<body>

    <div class="particulas">

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

</div>

<div
    class="overlay"
    id="overlay"
></div>

<div
    class="contenedor"
    id="contenedorPrincipal"
>


     <h1>NO HAY NADA ACA :C</h1>